<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Employee Management System</h1>
    <h2>Employee Login</h2>
    <form action="/login" method="post">
        Enter Employee ID: <input type="number" name="id"  placeholder="Employee ID"><br><br>
        Enter Password : <input type="password" name="password" placeholder="Strong Password"><br><br>
        <input type="Submit" value="Submit">
    </form>


</body>
</html>