<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employees</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1 class="page-title">Employee Details</h1>

<div class="card-container">

    <form class="card" action="/viewone" method="post">
        <h2>View by ID</h2>
        <input type="text" name="id" placeholder="Employee ID">
        <button>Fetch</button>
    </form>

    <form class="card" action="/viewall">
        <h2>View All Employees</h2>
        <button>Fetch</button>
    </form>

</div>

<a href="/dashboard" class="dashboard-link">Click here to Dashboard Page</a>

    
</body>
</html>